/* Author: Adrian Martinez Fuentes - UO295454 */

/* Paleta de colores:
    - Fondo de la web: F4E1C1 (Crema oscuro)
    - Texto de la web: 1F3B4D (Azul Marino Oscuro, 9.1 contraste con F4E1C1)
    - Fondo de Header: 1F3B4D (Azul Marino)
    - Texto de nav y h1: FFFFFF (Blanco, 11.73 contraste con 1F3B4D)
*/ 

/* Especificidad 001 */
html {
    font-family: "helvetica neue", helvetica, arial, sans-serif;
}

/* Especificidad 001 */
body { 
    background-color: #F4E1C1;
    color: #1F3B4D;
}

/* Especificidad 002 */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Especificidad 001 */
header, footer {
    background-color: #0A1A2E;
    color: #FFFFFF;
}

/* Especificidad 001 */
body > p {
    margin-left: 0.4em;;
    font-size: small;
}

/* ###################### Header del body ###################### */
/* Especificidad 002 */
h1 a {
    color: #FFFFFF;
    /*background-color heredado de header*/
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;     
}

nav {
    display: flex;
    align-items: center;
    /*background-color heredado de header*/
}

/* Especificidad 002 */
nav a {
    text-decoration: none;
    color: #FFFFFF;
    /*background-color heredado de header*/
    padding: 1rem 1.5rem;
    margin-bottom: 0.5rem; /* Aumentar el espacio entre los enlaces */
}

/* Especificidad 011 */
a:hover {
    border: 2px solid #A9C4D4; /* Color de borde */
    border-radius: 0.75em;
}

/* ###################### Main del body ###################### */

/* Especificidad 001 */
main {
    margin-left: 0.4em;;
    flex: 1; /* Ocupar todo el espacio disponible */
}

/* Especificidad 002 */
h3,h4 {
    text-decoration: underline;
    font-size: large;
}

/* ###################### Listas del body ###################### */
/* Especificidad 004 */
ul, ol, dl, p {
    font-size: 1.05rem;
}

/* Especificidad 002 */
ul, ol {
    background-color: #EDD9B0; 
    /*color heredado de body*/
    list-style-position: inside;
    margin: 0.313rem 0.625rem 0.625rem 0.625rem;
}

/* Especificidad 001 */
ul {
    list-style-type: circle;
}

/* Especificidad 001 */
ol {
    list-style-type: square;
}

/* Especificidad 001 */
li {
    margin-bottom: 0.625rem;
    line-height: 1.5;
}

/* Especificidad 002 */
dt, dd {
    line-height: 1.5;
}

/* Especificidad 001 */
dt {
    text-decoration: underline;
    list-style: circle;
}

/* Especificidad 001 */
dd {
    margin-bottom: 1.5rem;
}

/* ###################### Estilizacion de la tabla ###################### */
/* Especificidad 001 */
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #333;
    font-family: Arial, sans-serif;
    margin-bottom: 2rem;
    background-color: #fff;
    /* color heredado de body */
    box-shadow: 0 0.22em 0.5em #0000001a; 
}

/* Especificidad 002 */
table caption {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-right: 0.4em;
    font-size: 1.5rem;
    text-decoration: underline;
    color: #333;
    /* background-color heredado de table */
}

/* Especificidad 002 */
th, td {
    padding: 1em 2em; 
    text-align: left;
    border: 0.5em solid #ddd; 
}

/* Especificidad 001 */
th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
}

/* Especificidad 011 */
tr:nth-child(even) {
    background-color: #f9f9f9;
    /* color heredado de body */
}

/* Especificidad 011 */
tr:hover {
    background-color: #f1f1f1;
    /* color heredado de body */
}

/* Especificidad 011 */
th:nth-child(1) {
    width: 30%;
}

/* ###################### Elementos multimedia ###################### */
/* Especificidad 001 */
video {
    width: 60%;
    height: auto;
}

/* Especificidad 001 */
img {
    width: 40%;
    height: auto;
}

/* ###################### Juegos ###################### */
/* Especificidad 002 */
main>h2 {
    text-align: center;
}

/* ###################### Ayuda ###################### */

/* Especificidad 011 */
dialog[open] {
    width: 80%;
    max-width: 100%;
    max-height: 60%;
    margin: auto;
    padding: 1.5em;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    z-index: 1000;
    resize: both;
    overflow: auto;
    transition: all 0.3s ease-in-out;
}

/* Especificidad 012 */
dialog[open] h2 {
    font-size: 1.8em;
    margin-bottom: 1em;
    text-align: center;
    color: #333;
}

/* Especificidad 012 */
dialog[open] h3 {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: #555;
}

/* Especificidad 012 */
dialog[open] p {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    color: #666;
}

/* Especificidad 012 */
dialog[open] ul {
    list-style-type: disc;
    padding-left: 1.5em;
}

/* Especificidad 013 */
dialog[open] ul li {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    color: #777;
}

/* Especificidad 022 */
dialog[open] button[id="close-help"] {
    display: block;
    margin: 1em auto 0;
    padding: 0.5em 1em;
    font-size: 1em;
    background-color: #1F3B4D;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

/* Especificidad 032 */
dialog[open] button[id="close-help"]:hover {
    background-color: #163240;
}

/* Media Queries para adaptabilidad */
@media (max-width: 768px) {
    /* Especificidad 011 */
    dialog[open] {
        width: 90%;
        padding: 1em;
    }

    /* Especificidad 012 */
    dialog[open] h2 {
        font-size: 1.5em;
    }

    /* Especificidad 012 */
    dialog[open] h3 {
        font-size: 1.3em;
    }

    /* Especificidad 025 */
    dialog[open] p, dialog[open] ul li {
        font-size: 1em;
    }
}


/* ###################### JUEGO TRIVIAL F1 (API.HTML) ###################### */

/* Especificidad 023 */
body[data-page="api"] main > section:nth-of-type(1) {
    display: grid;
    grid-template-rows: auto auto; /* Dos filas: una para el h2 y otra para los botones */
    justify-items: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    text-align: center;
    gap: 1rem; /* Espacio entre las filas */
    margin: 2em;
}

/* Especificidad 024 */
body[data-page="api"] main > section:nth-of-type(1) > h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    grid-row: 1; /* Coloca el h2 en la primera fila */
}

/* Especificidad 024 */
body[data-page="api"] main > section:nth-of-type(1) > button {
    padding: 1rem 2rem;
    font-size: 1.5rem; 
    background-color: #1F3B4D;
    color: #FFFFFF;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    grid-row: 2; 
}

/* Especificidad 023 */
body[data-page="api"] main > section:nth-of-type(2) {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.5rem;
    color: #1F3B4D;
}

/* Especificidad 023 */
body[data-page="api"] main > section:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
    margin: 2rem auto; 
    text-align: center; 
    font-size: 1.5rem;
    color: #1F3B4D;
}

/* Especificidad 023 */
body[data-page="api"] main > section:nth-of-type(4) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
    margin: 2rem auto; 
    text-align: center;
    width: 100%;
    margin: 2em 0;
}

/* Especificidad 024 */
body[data-page="api"] main > section:nth-of-type(4) > button {
    width: 80%;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    background-color: #1F3B4D;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Especificidad 034 */
body[data-page="api"] main > section:nth-of-type(4) > button:hover {
    background-color: #163240;
}

/* Especificidad 034 */
body[data-page="api"] main > section:nth-of-type(4) > button.correct {
    background-color: #4CAF50;
}

/* Especificidad 034 */
body[data-page="api"] main > section:nth-of-type(4) > button.incorrect {
    background-color: #F44336; 
}

/* Especificidad 023 */
body[data-page="api"] main > section:nth-of-type(5) {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.5rem;
    color: #1F3B4D;
}

/* Especificidad 023 */
body[data-page="api"] main > dialog:nth-of-type(1) {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #1F3B4D;
    border: none;
    border-radius: 1em;
    padding: 2em;
    box-shadow: 0 0.25em 0.4em rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 50%;
    margin: auto;
}

/* Especificidad 033 */
body[data-page="api"] main > dialog:nth-of-type(1).show {
    display: flex; 
    flex-direction: column; /* Alinea los elementos en columna */
}

/* Especificidad 024 */
body[data-page="api"] main > dialog:nth-of-type(1) > h2 {
    margin-bottom: 1em;
}

/* Especificidad 024 */
body[data-page="api"] main > dialog:nth-of-type(1) > p {
    margin: 0.5em 0;
}

/* Especificidad 066 */
body[data-page="api"] main > dialog:nth-of-type(1) > .final-score, 
body[data-page="api"] main > dialog:nth-of-type(1) > .high-score {
    font-weight: bold;
}

/* Media Queries para adaptabilidad */
@media (max-width: 768px) {
    /* Especificidad 022 */
    body[data-page="api"] button[id="start-button"] {
        font-size: 1.2em;
        padding: 0.8em 1.5em;
    }

    /* Especificidad 022 */
    body[data-page="api"] main > section:nth-of-type(4) > button {
        font-size: 1em;
        padding: 0.8em;
    }
}

/* ###################### FORMULARIOS ###################### */
/* Especificidad: 001 */
form {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    border: 0.5em solid #ddd;
    border-radius: 0.5em;
    padding: 2em;
    margin-top: 1.5em;
    margin-bottom: 3em;
    margin-left: 1em;
    margin-right: 1em;
}

/* Especificidad: 002 */
form label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

/* Especificidad: 012 */
form input[type="text"], form textarea {
    width: 60%;
    padding: 1em;
    margin: 0.5em 0;
    border: 0.25em solid #ddd;
    border-radius: 0.5em;
}

/* Especificidad: 012 */
form input[type="file"] {
    margin: 0.5em auto;
    padding: 0.5em;
    border: 0.25em solid #ccc;
    border-radius: 0.5em;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

/* Especificidad: 022 */
form input[type="file"]:hover {
    background-color: #e9e9e9;
}

/* Especificidad: 002 */
form button {
    background-color: #1F3B4D;
    color: #fff;
    border: none;
    padding: 1em 2em;
    border-radius: 0.5em;
    cursor: pointer;
    transition: background-color 0.2s;
}

/* Especificidad: 012 */
form button:hover {
    background-color: #163240;
}


/* ###################### GENERACION MAPAS ###################### */

main[data-pages="viajes"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

main>h2 {
    font-size: 3.4em;
    margin-bottom: 1.8em;
    text-decoration: underline;
}

/* Especificidad 100 */
main[data-pages="viajes"] > div {
    height: 50vw;
    width: 90%;
}

/* Imagen del mapa estático */
img[data-map="static-map"] {
    background-color: cadetblue;
    width: 50%; 
    height: 40%; 
    margin-bottom: 9.5em ; 
}